{% extends 'base.html.twig' %}
{% block title %}
  Galerie - RSE-IT
{% endblock %}

{% block body %}
  <section class="galerie text-center py-5 my-5 text-white">
    <div class="container">
      <h1 class="mx-auto mt-5 text-uppercase text-white fw-bold">Notre Galerie</h1>
      <h2 class="text-white-100 mx-auto mt-2 mb-5 text-white">Revivez nos meilleurs moments en images</h2>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <h2 class="mb-4 text-center">Photos de nos activités</h2>
      <div class="row g-3">
        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/4.jpg" class="card-img-top" alt="Recyclage en action" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/21.jpg" class="card-img-top" alt="Plantation d'arbres" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/35.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/19.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/12.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/38.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/39.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/17.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="card shadow-sm">
            <img src="images/18.jpg" class="card-img-top" alt="Atelier de sensibilisation" />
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
