<section class="">
 
  <footer class="text-center text-white bg-success">
 
    <div class="container p-4 pb-0">
 
      <section class="py-2">
        <div class="text-center">
              <p>Suivez-nous sur les réseaux sociaux</p>
              <button type="button" class="btn btn-outline-light btn-floating mx-1" data-mdb-ripple-init>
                <i class="bi bi-facebook"></i>
              </button>

              <button type="button" class="btn btn-outline-light btn-floating mx-1" data-mdb-ripple-init>
                <i class="bi bi-google"></i>
              </button>

              <button type="button" class="btn btn-outline-light btn-floating mx-1" data-mdb-ripple-init>
                <i class="bi bi-twitter"></i>
              </button>

              <button type="button" class="btn btn-outline-light btn-floating mx-1" data-mdb-ripple-init>
                <i class="bi bi-instagram"></i>
              </button>
            </div>
      </section>
      <!-- Section: CTA -->
    </div>
    

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(5, 67, 14);">
      © 2025 Copyright:
      <a class="text-white" href="{{ path('home') }}">RSE-IT</a>
    </div>
    <!-- Copyright -->
  </footer>
 
</section>